<form [formGroup]="gameForm" class="game" (ngSubmit)="onSubmit()">
  <div class="ui very padded text game-container">
    <h2 class="ui header centered">Calculator Game</h2>
    <div class="ui three column grid">
      <div class="row sixteen wide centered">
        Ready for a Simple Math game? Enjoy!
      </div>
      <div class="row quest">
        <div class="column">{{ firstNumber }}</div>
        <p class="operator">{{ operator }}</p>
        <div class="column">{{ secondNumber }}</div>
        <p class="operator">=</p>
        <div sui-input>
          <input
            type="text"
            placeholder="?"
            class="column"
            formControlName="userAnswer"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="column sixteen wide">
          <button
            sui-button
            [suiLoading]="isLoading"
            suiEmphasis="primary"
            [suiFluid]="true"
            [disabled]="gameForm.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <div id="result">
      <div>
        <div sui-message [suiColour]="positiveFeedbackColor">
          <div sui-message-content>
            <div sui-header>Correct Attempts</div>
            <p>{{ correctAttempts }}</p>
          </div>
        </div>
        <div sui-message [suiColour]="negativeFeedbackColor">
          <div sui-message-content>
            <div sui-header>Incorrect Attempts</div>
            <p>{{ incorrectAttempts }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
