<form [formGroup]="gameForm" class="game" (ngSubmit)="onSubmit()">
  <div class="ui very padded text game-container">
    <h2 class="ui header centered">Calculator Game</h2>
    <div class="ui three column grid">
      <div class="row sixteen wide centered">
        Ready for a Simple Math game? Enjoy!
      </div>
      <div class="row quest">
        <div class="column">{{ firstNumber }}</div>
        <p class="operator">{{ operator }}</p>
        <div class="column">{{ secondNumber }}</div>
        <p class="operator">=</p>
        <div sui-input>
          <input
            type="text"
            placeholder="?"
            class="column"
            formControlName="userAnswer"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="column sixteen wide">
          <button class="fluid ui primary button" [disabled]="gameForm.invalid">
            Submit
          </button>
        </div>
      </div>
      <div class="column sixteen wide result">
        <div class="row">
          <div sui-message class="column">Cancel</div>
          <div sui-message class="column">Save</div>
        </div>
        <div class="row">
          <div sui-message class="column">{{ correctAttempts }}</div>
          <div sui-message class="column">{{ incorrectAttempts }}</div>
        </div>
      </div>
    </div>
  </div>
</form>
